$mainColor :#00BAF2;
$secondColor:#1C3481;
$white:#fff;
$white5:#555;
$white7:#777;
$white9:#f9f9f9;
$shadow:#949494;
$border_color:#f2f8f9;
$sliderColor :#D3ECF3;
$dark:#000;

$star :#FFA800;
$not_star: #e8ebf2;
$products_bg :#EEF3F4;